<h1>Posts</h1>
<%= link_to 'Add New Post', new_post_path %>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post) do %>
      <%= post.title %>
    <% end %>
    <%= button_to 'Delete Post', post_path(post), :method => :delete %>
  </div>
<% end %>